.app.light {
  --bg-color: rgb(205, 210, 213);
  --inverted-bg-color: rgb(4, 39, 63);

  --primary-color: rgb(24, 80, 234);
  --secondary-color: rgb(38, 184, 237);

  --inverted-primary-color: rgb(39, 234, 71);
  --inverted-secondary-color: rgb(4, 250, 0);
}
